<h2 class="googleAnalyticsHeader">{{ trans("GoogleAnalytics::GoogleAnalytics.textHeader") }}</h2>
<p class="googleAnalyticsText">
    {{ trans("GoogleAnalytics::GoogleAnalytics.textBefore") }} <a href="https://tools.google.com/dlpage/gaoptout?hl=de">{{ trans("GoogleAnalytics::GoogleAnalytics.optOutBrowserPluginLinkText") }}</a>{{ trans("GoogleAnalytics::GoogleAnalytics.textBetween") }}
    <a onclick="alert('{{ trans("GoogleAnalytics::GoogleAnalytics.alertText") }}');" href="javascript:gaOptout()">{{ trans("GoogleAnalytics::GoogleAnalytics.optOutLinkText") }}</a> {{ trans("GoogleAnalytics::GoogleAnalytics.textAfter") }}
</p>