<h2 class="googleAnalyticsHeader">{{ trans("GoogleAnalytics::GoogleAnalytics.header") }}</h2>
<p class="googleAnalyticsText">
    {% autoescape false %}
        {% set optOutPlugin %}<!--
                --><a href="https://tools.google.com/dlpage/gaoptout?hl=de" rel="noopener">{{ trans("GoogleAnalytics::GoogleAnalytics.optOutBrowserPluginLinkText") }}
        </a><!--
            -->{% endset %}
        {% set optOutWebsite %}<!--
                -->  <a onclick="alert('{{ trans("GoogleAnalytics::GoogleAnalytics.alertText") }}');" href="javascript:gaOptout()">{{ trans("GoogleAnalytics::GoogleAnalytics.optOutLinkText") }}
        </a><!--
        -->{% endset %}

        {{ trans("GoogleAnalytics::GoogleAnalytics.content", {"optOutPlugin": optOutPlugin, "optOutWebsite": optOutWebsite}) }}
    {% endautoescape %}
</p>